.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 800px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.image {
  width: 150px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.btn {
  background-color: transparent;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 6px;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
